/* Global */

h1,
h2,
h3,
p,
li,
a {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

.botao {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.realce-semibold {
  font-weight: 600;
}

/* Cabeçalho */

.lista-nao-ordenada a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */

h1 {
  font-size: 35px;
  font-weight: 600;
}

.hero-paragrafo {
  font-size: 19px;
}

/* Seção Conteúdos Gratuitos */

/* .gratuito-h2 {
  font-size: 35px;
  font-weight: 400;
} */

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 23px;
  font-weight: 700;
}

.a-treinamentos a {
  font-size: 19px;
  text-decoration: none;
}

/* Seção Diferenciais */

/* .diferenciais-h2 {
  font-size: 35px;
  font-weight: 400;
} */

/* .diferenciais-h2 strong {
  font-weight: 600;
} */

.diferenciais-p {
  font-size: 19px;
}

.diferenciais-h3 {
  color: #005e88;
  font-size: 24px;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-size: 35px;
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção O que falam */

/* Seção Na mídia */

/* Seção Blog da Hashtag */

.blog-postado-em {
  font-size: 15px;
}

.blog-postado-em a {
  font-weight: 600;
  color: #f7a70c;
  text-decoration: none;
}

.blog-titulo-post {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.blog-descricao-post {
  font-size: 17px;
}

/* Seção Como ajudar */

/* .como-ajudar-realce {
  font-weight: 600;
} */

.como-ajudar-lista,
.como-ajudar-paragrafo {
  font-size: 19px;
}

.como-ajudar-lista a,
.como-ajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.como-ajudar-paragrafo b {
  font-weight: 600;
}

/* Seção Minicurso */

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 22px;
}

.rodape-subtitulo {
  font-size: 20px;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 18px;
}

.rodape-link {
  color: #1a77a4;
}
